basePath: /v1
definitions:
  swagger.Athlete:
    properties:
      first_name:
        example: John
        type: string
      fis_code:
        example: 123456
        type: integer
      last_name:
        example: Doe
        type: string
    type: object
  swagger.AthleteListResponse:
    properties:
      athletes:
        items:
          $ref: '#/definitions/swagger.Athlete'
        type: array
    type: object
  swagger.DailyActivity:
    properties:
      day:
        example: "2023-12-01"
        type: string
      sedentary_time:
        example: 27480
        type: integer
      steps:
        example: 6653
        type: integer
      total_calories:
        example: 4272
        type: integer
    type: object
  swagger.HealthStatusResponse:
    properties:
      env:
        example: production
        type: string
      status:
        example: ok
        type: string
    type: object
  swagger.HeartRateData:
    properties:
      bpm:
        example: 43
        type: integer
      source:
        example: rest
        type: string
      timestamp:
        example: "2023-12-01T00:00:43+00:00"
        type: string
    type: object
  swagger.InternalServerError:
    properties:
      error:
        example: the server encountered a problem
        type: string
    type: object
  swagger.InternalServerErrorResponse:
    properties:
      errors:
        items:
          $ref: '#/definitions/swagger.InternalServerError'
        type: array
    type: object
  swagger.NationsResponse:
    properties:
      nations:
        example:
        - USA
        - NOR
        - GER
        items:
          type: string
        type: array
    type: object
  swagger.OuraData:
    properties:
      daily_activity:
        items:
          $ref: '#/definitions/swagger.DailyActivity'
        type: array
      heartrate:
        items:
          $ref: '#/definitions/swagger.HeartRateData'
        type: array
      sleep:
        items:
          $ref: '#/definitions/swagger.SleepData'
        type: array
    type: object
  swagger.OuraDataResponse:
    properties:
      data:
        $ref: '#/definitions/swagger.OuraData'
    type: object
  swagger.OuraDatesResponse:
    properties:
      dates:
        example:
        - "2024-02-25"
        - "2024-02-26"
        - "2024-03-25"
        items:
          type: string
        type: array
    type: object
  swagger.OuraInvalidDateRange:
    properties:
      errors:
        items:
          $ref: '#/definitions/swagger.UnprocessableEntityError'
        type: array
    type: object
  swagger.OuraTypesResponse:
    properties:
      types:
        example:
        - heartrate
        - sleep
        - daily_activity
        items:
          type: string
        type: array
    type: object
  swagger.PolarAlertnessData:
    properties:
      grade:
        example: 8.5
        type: number
      grade_type:
        example: GRADE_TYPE_PRIMARY
        type: string
      validity:
        example: VALIDITY_VALID
        type: string
    type: object
  swagger.PolarData:
    properties:
      alertness:
        $ref: '#/definitions/swagger.PolarAlertnessData'
      heart_rate:
        $ref: '#/definitions/swagger.PolarHeartRateData'
    type: object
  swagger.PolarDataResponse:
    properties:
      data:
        $ref: '#/definitions/swagger.PolarData'
    type: object
  swagger.PolarHeartRateData:
    properties:
      date:
        example: "2023-12-01"
        type: string
      heart_rate_samples:
        items:
          $ref: '#/definitions/swagger.PolarHeartRateSample'
        type: array
    type: object
  swagger.PolarHeartRateSample:
    properties:
      heart_rate:
        example: 72
        type: integer
      sample_time:
        example: "00:10:00"
        type: string
    type: object
  swagger.PolarTypesResponse:
    properties:
      types:
        example:
        - alertness
        - circadian_bedtime
        - heart_rate
        items:
          type: string
        type: array
    type: object
  swagger.SleepData:
    properties:
      average_heart_rate:
        example: 47
        type: integer
      awake_time:
        example: 1530
        type: integer
      bedtime_end:
        example: "2023-12-01T06:21:59+02:00"
        type: string
      bedtime_start:
        example: "2023-11-30T23:23:59+02:00"
        type: string
      day:
        example: "2023-12-01"
        type: string
      deep_sleep_duration:
        example: 6630
        type: integer
      id:
        example: 82496435-af96-462e-90c9-806d38418e87
        type: string
      type:
        example: long_sleep
        type: string
    type: object
  swagger.SuuntoData:
    properties:
      workout:
        additionalProperties:
          $ref: '#/definitions/swagger.SuuntoWorkoutData'
        type: object
    type: object
  swagger.SuuntoDataResponse:
    properties:
      data:
        $ref: '#/definitions/swagger.SuuntoData'
    type: object
  swagger.SuuntoTypesResponse:
    properties:
      types:
        example:
        - workout
        items:
          type: string
        type: array
    type: object
  swagger.SuuntoWorkoutData:
    properties:
      workout_summary:
        $ref: '#/definitions/swagger.SuuntoWorkoutSummary'
    type: object
  swagger.SuuntoWorkoutSummary:
    properties:
      avgPace:
        example: 4.5
        type: number
      avgSpeed:
        example: 3.8
        type: number
      startTime:
        example: 1710065996000
        type: integer
      stepCount:
        example: 5000
        type: integer
      totalTime:
        example: 3600
        type: number
    type: object
  swagger.UnprocessableEntityError:
    properties:
      error:
        example: invalid date range
        type: string
    type: object
  swagger.ValidationError:
    properties:
      parameter name:
        example: full description of the error
        type: string
    type: object
  swagger.ValidationErrorResponse:
    properties:
      errors:
        items:
          $ref: '#/definitions/swagger.ValidationError'
        type: array
    type: object
info:
  contact: {}
  description: API for integrating, analyzing, and visualizing sports and health data
  termsOfService: https://csc.fi/en/security-privacy-data-policy-and-open-source-policy/privacy/
  title: KUHA REST API
paths:
  /fis/athlete:
    get:
      consumes:
      - application/json
      description: Returns a list of athletes for a given sector
      parameters:
      - description: Sector Code (JP, NK, CC)
        in: query
        name: sector
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: List of athletes
          schema:
            $ref: '#/definitions/swagger.AthleteListResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      summary: Get athletes by sector
      tags:
      - FIS
  /fis/nation:
    get:
      consumes:
      - application/json
      description: Returns a list of nations for a given sector
      parameters:
      - description: Sector Code (JP, NK, CC)
        in: query
        name: sector
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: List of nations
          schema:
            $ref: '#/definitions/swagger.NationsResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      summary: Get nations by sector
      tags:
      - FIS
  /health:
    get:
      description: Healthcheck endpoint
      produces:
      - application/json
      responses:
        "200":
          description: Health status
          schema:
            $ref: '#/definitions/swagger.HealthStatusResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      summary: Healthcheck
      tags:
      - Ops
  /utv/oura/data:
    get:
      consumes:
      - application/json
      description: Returns data for the specified user on the specified date (optionally
        filtered by key)
      parameters:
      - description: User ID (UUID)
        in: query
        name: user_id
        required: true
        type: string
      - description: Date (YYYY-MM-DD)
        in: query
        name: date
        required: true
        type: string
      - description: Type
        in: query
        name: key
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Data
          schema:
            $ref: '#/definitions/swagger.OuraDataResponse'
        "204":
          description: 'No Content: No data found'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get available data (Oura)
      tags:
      - UTV
  /utv/oura/dates:
    get:
      consumes:
      - application/json
      description: Returns available dates for the specified user (optionally filtered
        by date range)
      parameters:
      - description: User ID (UUID)
        in: query
        name: user_id
        required: true
        type: string
      - description: Filter dates after this date (YYYY-MM-DD)
        in: query
        name: after_date
        type: string
      - description: Filter dates before this date (YYYY-MM-DD)
        in: query
        name: before_date
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: List of available dates
          schema:
            $ref: '#/definitions/swagger.OuraDatesResponse'
        "204":
          description: 'No Content: No available dates found'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/swagger.OuraInvalidDateRange'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get available dates (Oura)
      tags:
      - UTV
  /utv/oura/types:
    get:
      consumes:
      - application/json
      description: Returns available types for the specified user on the specified
        date
      parameters:
      - description: User ID (UUID)
        in: query
        name: user_id
        required: true
        type: string
      - description: Date (YYYY-MM-DD)
        in: query
        name: date
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: List of available types
          schema:
            $ref: '#/definitions/swagger.OuraTypesResponse'
        "204":
          description: 'No Content: No available types found'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get available types (Oura)
      tags:
      - UTV
  /utv/polar/data:
    get:
      consumes:
      - application/json
      description: Returns data for the specified user on the specified date (optionally
        filtered by key)
      parameters:
      - description: User ID (UUID)
        in: query
        name: user_id
        required: true
        type: string
      - description: Date (YYYY-MM-DD)
        in: query
        name: date
        required: true
        type: string
      - description: Type
        in: query
        name: key
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Data
          schema:
            $ref: '#/definitions/swagger.PolarDataResponse'
        "204":
          description: 'No Content: No data found'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get available data (Polar)
      tags:
      - UTV
  /utv/polar/dates:
    get:
      consumes:
      - application/json
      description: Returns available dates for the specified user (optionally filtered
        by date range)
      parameters:
      - description: User ID (UUID)
        in: query
        name: user_id
        required: true
        type: string
      - description: Filter dates after this date (YYYY-MM-DD)
        in: query
        name: after_date
        type: string
      - description: Filter dates before this date (YYYY-MM-DD)
        in: query
        name: before_date
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: List of available dates
          schema:
            $ref: '#/definitions/swagger.OuraDatesResponse'
        "204":
          description: 'No Content: No available dates found'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/swagger.OuraInvalidDateRange'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get available dates (Polar)
      tags:
      - UTV
  /utv/polar/types:
    get:
      consumes:
      - application/json
      description: Returns available types for the specified user on the specified
        date
      parameters:
      - description: User ID (UUID)
        in: query
        name: user_id
        required: true
        type: string
      - description: Date (YYYY-MM-DD)
        in: query
        name: date
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: List of available types
          schema:
            $ref: '#/definitions/swagger.PolarTypesResponse'
        "204":
          description: 'No Content: No available types found'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get available types (Polar)
      tags:
      - UTV
  /utv/suunto/data:
    get:
      consumes:
      - application/json
      description: Returns data for the specified user on the specified date (optionally
        filtered by key)
      parameters:
      - description: User ID (UUID)
        in: query
        name: user_id
        required: true
        type: string
      - description: Date (YYYY-MM-DD)
        in: query
        name: date
        required: true
        type: string
      - description: Type
        in: query
        name: key
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Data
          schema:
            $ref: '#/definitions/swagger.SuuntoDataResponse'
        "204":
          description: 'No Content: No data found'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get available data (Suunto)
      tags:
      - UTV
  /utv/suunto/dates:
    get:
      consumes:
      - application/json
      description: Returns available dates for the specified user (optionally filtered
        by date range)
      parameters:
      - description: User ID (UUID)
        in: query
        name: user_id
        required: true
        type: string
      - description: Filter dates after this date (YYYY-MM-DD)
        in: query
        name: after_date
        type: string
      - description: Filter dates before this date (YYYY-MM-DD)
        in: query
        name: before_date
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: List of available dates
          schema:
            $ref: '#/definitions/swagger.OuraDatesResponse'
        "204":
          description: 'No Content: No available dates found'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/swagger.OuraInvalidDateRange'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get available dates (Suunto)
      tags:
      - UTV
  /utv/suunto/types:
    get:
      consumes:
      - application/json
      description: Returns available types for the specified user on the specified
        date
      parameters:
      - description: User ID (UUID)
        in: query
        name: user_id
        required: true
        type: string
      - description: Date (YYYY-MM-DD)
        in: query
        name: date
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: List of available types
          schema:
            $ref: '#/definitions/swagger.SuuntoTypesResponse'
        "204":
          description: 'No Content: No available types found'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/swagger.ValidationErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/swagger.InternalServerErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get available types (Suunto)
      tags:
      - UTV
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
